body {
    box-sizing:border-box;
    margin: 0px;
}
*, *::after, *::before{
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 87px;
    background-color: #151515;
    box-sizing: border-box;
    display: flex;
}

header-img {
    width: 85px;
    height: 82.542px;
    margin: 4px auto;
}