body {
    box-sizing:border-box;
    margin: 0px;
}
*, *::after, *::before{
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 87px;
    background-color: #151515;
    border-bottom: 1px solid #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 44px;
}

header-img {
    width: 85px;
    height: 82.542px;
   /* margin: 4px auto;*/
}

.container {
    display: flex; 
    align-items: space-between;
    justify-content: center;
}

.logo {
    margin-right: 100px; 
    display: flex;
}

.menu_wrapper a{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    width: 50px;
    height: 44px;
    margin: 54px;

.button-container {
    text-align: space-around; 
    margin-top: 0px; 
}

.button-container a {
    display: inline-block; 
}

/* Стилі для фото */
.button-container img {
    display: flex;
    width: 269px;
    height: 66px;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.button-container a {
    display: inline-block; 
    position: relative; 
}

/* Стилі для фото */
.button-container img {
    width: 200px; 
    height: auto; 
}

/* Стилі для підсвітки при наведенні */
.button-container a::before {
    content: ''; /* Додаємо псевдоелемент */
    position: absolute; /* Абсолютне позиціонування відносно батьківського елемента */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Півпрозорий білий колір */
    opacity: 0; 
    transition: opacity 0.3s ease; /* Плавна анімація зміни прозорості */
}


.button-container a:hover::before {
    opacity: 1; /* Підсвітка стає повністю прозорою при наведенні */
}
}